<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <pre align="center" style="line-height:80%;"><a href="/">
 ______   _______           _______  _______  _______   
(  __  \ (  ____ \|\     /|(  ___  )(  ____ )(  ____ \  
| (  \  )| (    \/| )   ( || (   ) || (    )|| (    \/  
| |   ) || (__    | |   | || |   | || (____)|| (_____   
| |   | ||  __)   ( (   ) )| |   | ||  _____)(_____  )  
| |   ) || (       \ \_/ / | |   | || (            ) |  
| (__/  )| (____/\  \   /  | (___) || )      /\____) |  
(______/ (_______/   \_/   (_______)|/       \_______)  

 _      _   _______   _________   _______    _______    
( (    /|  (  ___  )  \__   __/  (  ____ \  (  ____ \  *
|  \  ( |  | (   ) |     ) (     | (    \/  | (    \/   
|   \ | |  | |   | |     | |     | (__      | (_____    
| (\ \) |  | |   | |     | |     |  __)     (_____  )   
| | \   |  | |   | |     | |     | (              ) |   
| )  \  |  | (___) |     | |     | (____/\  /\____) |   
|/    )_)  (_______)     )_(     (_______/  \_______)   
                                                        
            </a></pre><br />
            <!-- <h1 class="title"><a href="/">{{ site.name }}</a></h1> -->
          </div>

          {{ content }}

          <div class="footer">
            <p> * : Its neither mobile friendly nor responsive!</p>
            <div class="contact">
              <p>
                Girish<br />
                DevOps Consultant<br />
                hvgirish84@gmail.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/hvgirish">github.com/hvgirish</a><br />
                <a href="https://twitter.com/hvgirish">twitter.com/hvgirish</a><br />
                <button onclick="TogetherJS(this); return false;">Start TogetherJS</button>
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
